<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="UnitTests" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\UnitTestData.mdf;Initial Catalog=UnitTests;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--NOTE: If you decide to use a regular sql server you will need to run the CreateUnitTestDB.sql file to create the db and objects-->
		<!--<add name="UnitTests" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DataImportRepositoryUnitTests;Data Source=(local)\sql2014" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>